// <ОБОЛОЧКА>=======================
html {
	color: $black;
	font-size: $fontSize;
	background-color: $white;

}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&._loaded {}
}

//</ОБОЛОЧКА>=====================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
body {
	font-size: 1.4rem;
	font-family: $font-family-base;
	color: $black;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

.title-text {
	margin-bottom: 35px;

    @media (max-width: $md2) {
        margin-bottom: 25px;
    }
}